body {
  background-color: #ffffff;
}
.promo {
  background-image: url("images/index-background.jpg");
  }
.footer-subscribe {
  background-image: url("images/blurred-sight-background.jpg");
}
.inner-header-hotel-choice {
  background-image: url("images/blurred-catalog-background.jpg");
}
