@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  height: 100%;
}

body {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  margin: 0 47px -5px 70px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 66px;
}

.navigation-user {
  display: flex;
  width: 264px;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
}

.navigation-link {
  display: block;
  margin: 20px 34px 19px 0;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.navigation-list-left {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.link-current {
  border-bottom: 1px solid #000000;
}

.link-search {
  box-sizing: border-box;
  padding: 24px 12px;
  background-image: url("../images/search.svg");
  background-size: 19px 18px;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.add-to-favorites {
  box-sizing: border-box;
  padding: 24px 12px;
  background-image: url("../images/favorite.svg");
  background-size: 19px 18px;
  background-position: center;
  width: 42px;
  height: 66px;
  background-repeat: no-repeat;
  margin: 0;
  margin-right: 20px;
}

.added-to-favorites {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #008000;
  border-radius: 50%;
  position: relative;
  top: -55px;
  left: 24px;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  padding: 3px;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
}

.slogan {
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: inherit;
  color: inherit;
}

.promo {
  background-image: url("../images/welcome.svg");
  background-repeat: no-repeat;
  width: 457px;
  height: 350px;
  margin: 50px 371px 25px;
}

.divider {
  background-image: url("../images/divider-zigzag-of-index-background.svg");
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  margin: -57px auto 63px auto;
}

.need-to-visit {
  font-family: "PT Sans", sans-serif;
  background-color: inherit;
  color: inherit;
  font-size: 22px;
  text-align: center;
}

.arizona-town {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 620px;
  margin: auto;
  margin-bottom: 31px;
}

.five-reasons {
  display: block;
  padding-bottom: 90px;
}

.advantages-list {
  margin: 0;
  margin-bottom: 91px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  list-style-type: none;
}

.real-town {
  margin: 0;
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}

.real-town-description {
  width: 400px;
  height: 384px;
}

.bridge {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #82B3D3;
  color: #ffffff;
}

.bridge-description {
  margin: 0;
  width: 400px;
  height: 384px;
}

.advantages-item-3 {
  margin: 0;
  box-sizing: border-box;
  padding-top: 12px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-4 {
  margin: 0;
  box-sizing: border-box;
  padding-top: 12px;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.advantages-item-5 {
  margin: 0;
  box-sizing: border-box;
  padding-top: 12px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 91px auto 30px;
  width: 230px;
}

.advantage-number {
  display: block;
  margin: 30px auto;
}

.advantage-description {
  display: block;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: auto;
}

.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  color: #000000;
}
.features-icon {
  margin-top: 80px;
  margin-bottom: 30px;
}
.features-item-description {
  display: block;
  width: 230px;
  margin: auto;
  font-size: 18px;
  line-height: 21px;
}

.features-item-title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 230px;
}

.features-item-wrap-1 {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.features-item-wrap-2 {
  background-color: #ffffff;
  width: 400px;
  height: 384px;
}

.features-item-wrap-3 {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.hotel-search {
  font-family: inherit;
  text-align: center;
}

.interest {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.see-available-hotels {
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 26px;
}

.button {
  font-family: inherit;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 15px;
  border: none;
}

.want-hotel-search-button {
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  width: 160px;
  height: 37px;
  margin: 14px 0;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 56px auto 94px;
  width: 574px;
}

.footer-subscribe {
  font-family: inherit;
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/blurred-sight-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding: 94px 0;
  margin: 0 auto;
}

.footer-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 28px;
}

.footer-subscribe-assurance {
  font-size: 22px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}
.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 200px;
  height: 60px;
}

.footer-social-contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px 70px 30px 70px;
}

.footer-social-list {
  text-decoration: none;
  list-style-type: none;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer-social-item {
  box-sizing: border-box;
  width: 47px;
  height: 40px;
  margin-top: 10px;
  margin-right: 0;
  padding: 0 10px;
}

.vk {
  background-image: url("../images/vk-icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
  padding: 13px 12px;
  background-color: transparent;
}

.tg {
  background-image: url("../images/tg-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  padding: 12px 15px;
  background-color: transparent;
}

.youtube {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
  padding: 12px 13px;
  margin-right: 300px;
  background-color: transparent;
}

.footer-contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-right: 41px;

}
.htmlacademy-link {
  padding: 8px 0;
}

/*inner page*/

.inner-header-hotel-choice {
  background-image: url("../images/blurred-catalog-background.jpg");
  background-size: 1200px 403px;
  background-repeat: no-repeat;
  font-family: inherit;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 70px;
  padding-top: 35px;
  margin: 0;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;

}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 110px;
}

.breadcrumbs-item {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-right: 10px;
}

.breadcrumbs-arrow {
  background-image: url("../images/breadcrumbs-arrow-icon.svg");
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
}

.icon-home {
  background-image: url("../images/breadcrumbs-house-icon.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  padding: 5px 10px 2px 0;

}

.hotel-filters {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1058px;
}

.hotel-filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.hotel-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.infrastructure-wrapper {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.accomodation-wrapper {
  margin: 0;
  margin-right: 175px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cost-wrapper {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.buttons-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.confirm-button {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 15px;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color:#ffffff;
  background: transparent;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.hotel-found {
  margin: 50px 72px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.found-wrapper {
  display: flex;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  width: 1058px;
}

.hotel-found-number-title {
  padding-top: 20px;
  margin-right: 190px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  color: #000000;
  margin: 0;
  margin-right: 78px;
  padding: 0;
  height: 49px;
  width: 290px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view {
  display: inline-flex;
  width: 160px;
}

.button-view {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 16px 17px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-view:not(last-child) {
  margin-right: 8px;
}

.show-table {
  background-image: url(../images/icon-table.svg);
  background-repeat: no-repeat;
  border-color:#000000;
}

.show-slideshow {
  background-image: url(../images/icon-slideshow.svg);
  background-repeat: no-repeat;
}

.show-list {
  background-image: url(../images/icon-list.svg);
  background-repeat: no-repeat;
}

.hotel-found-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  padding-top: 10px;
  list-style-type: none;
  width: 1056px;
}

.hotel-card {
  display: grid;
  width: 340px;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-areas:
    "hotel-photo hotel-photo"
    "hotel-name hotel-name"
    "group price"
    "show-button add-button"
    "stars rating";
    grid-template-columns: 140px 140px;
    grid-template-rows: 211px 28px 21px 37px 37px;
  padding: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
  grid-area: hotel-photo;
  margin: 0;
  padding: 0;
}
.hotel-card-image {
  margin-bottom: 16px;
}
.hotel-card-title {
  grid-area: hotel-name;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-card-group {
  grid-area: group;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
}

.hotel-card-stars {
  display: flex;
  width: 140px;
  list-style-type: none;
}

.stars-wrapper {
  grid-area: stars;
  display: flex;
  width: 140px;
  margin: 0;
  padding: 0;
}
.hotel-card-show-button {
  grid-area: show-button;
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.add-to-favorites-button {
  grid-area: add-button;
  background-color: #82B3D3;
  height: 37px;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
}

.added-to-favorites-button {
  background-color: green;
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
}
.hotel-card-price {
  grid-area: price;
}
.hotel-card-rating {
  grid-area: rating;
  background-color: #F2F2F2;
  border-radius: 4px;
  border:none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 140px;
  max-height: 37px;
  padding: 8px 22px;
  white-space: nowrap;
}

.hotel-card-star {
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;

}

.pagination-wrapper {
  margin: 30px 0 0;
  display: inline-flex;
  align-items: center;
  width: 1058px;
}
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pagination-item {
  display: inline-flex;
}
.pagination-link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 12px 24px;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  border: none;
}

.pagination-item:not(last-child) {
  margin-right: 8px;
}
.pagination-disabled {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  color: #000000;
  padding: 12px 24px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: none;
}

.pagination-show-more {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
  padding-right: 51px;

}
.pagination-show {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  min-width: 160px;
  max-height: 49px;

}

.inner-footer-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.footer-subscribe-white {
  text-align: center;
  padding: 94px 0;
  width: 1200px;
  margin: 0 auto;
 }

.inner-footer-subscribe-assurance {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 22px;
  color: #000000;
  background-color: #ffffff;
}
