@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}
.page-header {
  background-color: #ffffff;
  color: #000000;
}
.navigation {
  display: flex;
  margin: 0, auto;
}
.navigation-logo {
  margin: 0, 30px, -5px, 70px;
}
.navigation-list {
  display: flex;
  width: 560px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  display: flex;
  width: 270px;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
}
.navigation-link {
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-align: center;
}
.link-current {
  border-bottom: 1px solid #000000;
}
.navigation-list {
  list-style-type: none;
}
.link-search {
  background-image: url("../images/search.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}
.add-to-favorites {
  background-image: url("../images/favorite.svg");
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
}
.added-to-favorites {
  font-size: 10px;
  line-height: 13px;
  color:#ffffff;
  background-color: #008000;
  border-radius: 50%;
}
.main-container {
  flex-grow: 1;
}
.slogan {
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: inherit;
  color: inherit;
  }
.welcome {
  background-image: url("../images/welcome.svg");
  background-repeat: no-repeat;
  width: 457px;
  height: 350px;
  margin: 0, 371px;
}
.divider{
  background-image: url("../images/divider-zigzag-of-index-background.svg");
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  margin: -57px, auto, 0, auto;
}
.need-to-visit {
  font-family: "PT Sans", sans-serif;
  background-color: inherit;
  color: inherit;
  font-size: 22px;
  text-align: center;
  }
.arizona-town {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 620px;
  margin: auto;
}
.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  list-style-type: none;
}
.real-town {
  margin: 0;
  display: flex;
  background-color: #82B3D3;
  color:#ffffff;
}
.real-town-description {
  width: 400px;
  height: 384px;
}
.bridge {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #82B3D3;
  color:#ffffff;
}
.bridge-description {
  margin: 0;
  width: 400px;
  height: 384px;
}
.advantages-item-3 {
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}
.advantages-item-4 {
  margin: 0;
  background-color:rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}
.advantages-item-5 {
  margin: 0;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantage-description {
  font-size: 18px;
  line-height: 21px;
}
.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  color: #000000;
}
.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.features-item-wrap-1 {
background-color: rgba(131, 179, 211, 0.12);
width: 400px;
  height: 384px;
}
.features-item-wrap-2 {
  background-color: #ffffff;
  width: 400px;
  height: 384px;
}
.features-item-wrap-3 {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}
.hotel-search {
  font-family: inherit;
  text-align: center;
}
.interest {
  margin: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.see-available-hotels {
  margin: auto;
  display: block;
  width: 592px;
}
.button {
  font-family: inherit;
  background-color: #756157;
  color:#ffffff;
  font-weight: 700;
  text-transform: uppercase;
}
.want-hotel-search-button {
  font-size: 16px;
  line-height: 20px;
}
.hotel-search-button {
  line-height: 36px;
  }
.hotel-search-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.hotel-search-form-date {
  font-family: inherit;
  font-weight: 700;
}
.hotel-search-result-button {
  line-height: 36px;
  background-color: #82B3D3;
}
.info {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.past-date-error {
  color: #FF5757;
}
.date-result {
  color: #000000;
  }
.kids-quantity-description {
  color: #ffffff;
  background-color: #333333;
}
.footer-subscribe {
  font-family: inherit;
  background-color: #82B3D3;
  color:#ffffff;
  background-image: url("../images/blurred-sight-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.footer-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-subscribe-assurance {
  font-size: 22px;
}
.subscribe-button {
  line-height: 36px;
  background-color: #82B3D3;
  }
.footer-social-contacts {
  display: flex;
  justify-content: space-between;
  margin: 40px, 70px, 30px, 70px;
}
.footer-social-list {
  text-decoration: none;
  list-style-type: none;
  width: 142px;
  margin-right: 41px;
}
.vk {
  background-image: url("../images/vk-icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}
.tg {
  background-image: url("../images/tg-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
}
.youtube {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}
.footer-contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-right: 41px;
}

/*inner page*/

.inner-header-hotel-choice {
  background-image: url("../images/blurred-catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: inherit;
  color: #ffffff;
  background-color: #82B3D3;
}
.inner-header-title {
  font-family: inherit;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}
.breadcrumbs {
  list-style-type: none;
}
.breadcrumbs-item {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.icon-home {
  background-image: url("../images/breadcrumbs-house-icon.svg"), url(../images/breadcrumbs-arrow-icon.svg);
  background-size: 12px 12px, 5px 5px;
  background-repeat: no-repeat;
}
.control {font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}
.confirm-button {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}
.hotel-found-number-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.select-control {
  color: #000000;
}
.hotel-found-list {
  list-style-type: none;
  text-align: left;
}
.hotel-card {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}
.hotel-card-link {
  color: #000000;
  text-decoration: none;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.hotel-card-group {
  font-size: 18px;
  line-height: 21px;
}
.add-to-favorites-button {
  background-color: #82B3D3;
}
.added-to-favorites-button {
  background-color: #82B3D3;
}
.hotel-card-rating {
  background-color:  #F2F2F2;
}
.hotel-card-star {
  background-image: url("../images/star.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
}
.pagination-item {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  background-size: 60px 60px;
}
.pagination-disabled {
  background-color: #F2F2F2;
}
.pagination-show-more {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}
.inner-footer-subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.inner-footer-subscribe-assurance {
  font-size: 22px;
  color: #000000;
  background-color: #ffffff;
}
